---
Language: Cpp
BasedOnStyle: Microsoft

UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4

ColumnLimit: 200
Standard: c++17

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

AccessModifierOffset: -4
NamespaceIndentation: All
IndentCaseLabels: true
IndentPPDirectives: AfterHash

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
Cpp11BracedListStyle: true

IncludeBlocks: Preserve
SortIncludes: CaseSensitive
ReflowComments: false
...
